.portfolio {

    &__filter-list {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 0;
        padding: 0;
        list-style-type: none;
        gap: 8px;

    }

    &__filter-button {
        font-family: inherit;
        letter-spacing: inherit;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: calc(26/16);
        text-align: center;
        border: none;
        padding: 6px 22px;
        background: $anotherBgdColor;
        border-radius: 4px;
        cursor: pointer;
        transition-property: background-color, color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background-color: $brandColor;
            color: $background;
        }
        
    }
     &__projects {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        list-style: none;
     }

     &__card {
        position: relative;
        overflow: hidden;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        text-decoration: none;

        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        }

     }

     &__link {
        text-decoration: none;       
     }

     &__overlay {
        position: relative;
        overflow: hidden;

        
     }

     &__overlay-content {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center; 
        padding: 63px 24px;
        margin: 0;   

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: calc(28/18);
        color: $background;

        background-color: rgba(33, 150, 243, 0.9);
        transition-duration: 250ms;
        transition-property: transform;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(100%);
        
     }

     &__project-box {
        border: 1px solid $borderColor;
        border-top: none;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 20px;
        padding-bottom: 20px;
       
     }

     &__project-title {
        margin-top: 0;
        margin-bottom: 4px;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color:$mainTextColor;
        text-decoration: none;
     }

     &__project-name {
        margin: 0;
        font-size: 16px;
        line-height: 1.88;
        color: $anotherTextColor;
     }   


}

.portfolio__card:hover .portfolio__overlay-content{
    transform: translateY(0);
}