

    
    $brandColor:#2196F3;
    $mainTextColor:#212121;
    $anotherTextColor:#757575;
    $background: #FFFFFF;
    $anotherBgdColor: #F5F4FA;
    $buttonActive:  #188CE8;
    $borderColor: #EEEEEE; 
    $socialLinkColor: #AFB1B8;
    $ourClientsBg: #F5F5F5;
    $footerBackGround: rgba(47, 48, 58, 1);
    $brightBackgroung:  rgba(47, 48, 58, 0.8);

